@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Symbols:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manjari:wght@100;400;700&family=Merriweather:ital,opsz,wdth,wght@0,18..144,99.8,900;1,18..144,99.8,900&family=Noto+Sans+Symbols:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');
@import url("https://unicons.iconscout.com/release/v4.0.0/css/line.css");

@font-face {
  font-family: 'unicons';
  src: url('https://unicons.iconscout.com/release/v4.0.0/webfonts/unicons.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

a p {
  text-decoration: none;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  
}
.Logout:hover{
  background-color: rgb(255, 53, 53);
  color: rgb(255, 183, 183);
  box-shadow: inset 0px 0px 30px black;
}
.Logout{
  transition: .5s;
  width: 10vw;
  margin-left: 50px;
  margin-bottom: 30px;
  background-color: rgb(200, 0, 0);
  color: wheat;
  font-weight: 600;
  font-size: 20px;
  border: 2px rgb(255, 255, 255) solid;
  padding: 10px;
  border-radius: 20px;
}
.swiper{
  width: 90vw;
  display: flex;
  justify-content: center;
}
.modal-keterangan{
  max-width: 50vw;
  height: 120px;
  max-height: 200px;
  text-align: justify;
  margin-top: 25px;
  transition: 1s;
}
.scroll-keterangan { 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 20vw;
  transition: 1s;
}
.props-keterangan {
  max-width: 80vw;
  text-align: justify;
  transition: 1s;
  /* white-space: normal; */
}
.Modal-content{
  max-width: 100%;         /* Modal tidak terlalu lebar */
  padding-top: 20px;
  /* background: white; */
  border-radius: 8px;
  /* overflow: hidden; */

  word-wrap: break-word;
}

.Scroll-options{
  max-height: 50px;
  /* background-color: re; */
}
.ModalBox{
  word-wrap: break-word; 
  overflow-wrap: break-word;
  padding: 20px;
  border-radius: 20px;
  width: 40vw;
  color: white;
  background-color: rgb(31, 53, 65);
  position: fixed;
  z-index: 999999;
  left: 29%;
  top: 20%;
  transition: 1s;
}
.ModalBox button{
  margin-left: 26%;
  padding: 10px; 
  width: 15rem;
  border-radius: 20px;
}
.login-box{
  width: 30vw;
  background-color:rgb(255, 255, 255);
  box-shadow: 1px 2px 2px 1px black;
  border: white 3px solid;
  position: relative;
}



.transition{
  transition: 1s; 
}
.Kontak {
  padding-top: 100px;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  background-color: rgb(0, 143, 179);
  height: 100vh;
  color: white;
}

.content-1{
  width: 50vw;
  padding: 10px;
}
.content-2{
  margin-right: 50px;
  width: 50vw;
  padding-left: 60px;
  display: flex;
  padding-top: 20px;
}

.Contacs{
  /* border: black 1px solid; */
  width: 100%;
  margin-top: 300px;
  justify-content: center;
  display: flex; 
  gap: 50px;
}
.background{
  position: relative;
  width: 100%;
  /* top: 100px; */
  height: 668px;
  background-position: 0 -100px;
  background-size: cover;
  background-image: url('/images/Background2.jpg');
  /* background-size: cover; */
  background-position: center;
  background-repeat: no-repeat;
}



.Heading-2{
  top: 60%;
  left: 8%;
  position: absolute;
  color: #ffffff;
  text-shadow: -1px 3px 1px rgba(0,0,0,0.6);
  font-weight: 700;
}

.Heading{
  position: absolute;
  top: 40%;
  left: 8%;
  line-height: 55px;
  font-weight: 700;
  color: #ffffff;
  text-shadow: -1px 5px 1px rgba(0,0,0,0.6);
}
.navbar ul:last-child{
  background-color: #d6d6d600;
}


.hero-1 p{
  font-size: 25px;
  font-style: italic;
  font-weight: 200;
}
.line{
  width: 60%;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 15px 15px 0 0px;
  
}
.hero-1{
  width: 100vw;
  margin-top: 150px;
  margin-bottom: 150px;
  text-align: center;
  color: white;
}



.square{
  cursor: pointer;
  width: 300px;
  height: 200px;
  color: whitesmoke;
  margin-bottom: 20px;
  background: #354734;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 700;
  font-size: 30px;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: all 0.5s ease;
}

.square::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg, 
    transparent, 
    transparent 30%, 
    #DDB976
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

.square:hover {
  /* transform: scale(1.05); */
  box-shadow: 0 0 20px #777855;
}

.square:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}



.terakhir:hover {
  color: rgb(47, 47, 47);
  text-shadow: 0.6px 1.8px 2px  rgb(0, 0, 0);
  background-color: rgb(224, 224, 224);
  box-shadow: 4px 0px 5px 0px rgba(0,0,0,0.75) inset;
  font-weight: 500;
}
.terakhir {
 background-color: rgba(26, 25, 58, 0);
 /* padding: 0px 10px 0px 10px; */
 border-radius: 4px;
 color: rgb(0, 0, 0);
 font-family: 'Bebas Neue', sans-serif;
 text-shadow: 0.6px 1.8px 1px  rgba(0, 0, 0, 0.6);
 font-weight: 300;
 transition: .4s;
}
/*  */
.nav-font {
  text-shadow: 1px 2px 1px rgba(0,0,0,0.6);
  font-weight: 300;
  color: whitesmoke;
  font-family: 'Bebas Neue', sans-serif;
}
.nav-text{
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.bg-content{
  width: 100vw;
  /* height: 100vh; */
  /* margin-top: 1px; */
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #393E46;
}
.bagan{
  margin-top: 100px;
  /* padding */
  gap: 20px;
}
.bagan h1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-shadow: -8px 3px 2px rgba(0,0,0,0.6);;

}
.sub-content{
  color: black;
  background-color: #DFD0B8;
  margin-top: 100px;
  width: 70%;
  border-radius: 25px;
  padding: 40px;
}
.sejarah{
  width: 77vw;
  color: black;
  background-color: #DFD0B8;
  margin-top: 50px;
  text-align: justify;
  font-size: 20px;
  border-radius: 25px;
  padding: 30px ;
  
}

.sub-content h4 {
  font-family: 'PT Sans', sans-serif;
}
.sub-content h1 {
  font-family: 'Bebas Neue', sans-serif;
}

.navbar-costom{
  width: 100vw;
  padding: 20px;
  color: rgb(245, 245, 245);
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, .2);
  left: 0;
  right: 0;
  box-shadow: 0px 2px 30px 0px black;
  z-index: 1000;
}




.active {
  background-color: #2563EB;
}

.tombol:hover{
background-color: rgba(128, 128, 128, 2) ;
}

.non-active{
  background-color: #4B5563;
}
.color{
background-color: #D9D9D9;
color: #0a0a0a;
}
.main{
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 255, 255);
  color: black;
}

/* .Belanja {

  position: absolute;
  left: 22%;
  height: 650px;
  width: 78vw;
} */
.box-berita{
  margin-top: 90px;
  margin-left: 45px;
  display: flex;
  width: 70vw;
  justify-content: space-around;
  /* height: 50vh; */
  /* border: 4px solid black; */
}
.slide-2{
/* margin-left: 35px; */
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 10px 10px 30px;
  width: 65vw;
}
.Home{
  /* border: 4px solid black; */
  position: absolute;
  left: 22%;
  height: 100vh;
  overflow-x: hidden; 
  width: 80vw;
}
.clicked {
  background-color: rgba(255, 255, 255, 0.568);
  
}
.Dashboard-sidebar{
  font-size: 20px;
}
.Dashboard-sidebar li:hover {
  background-color: rgba(206, 206, 220, 0.167);
}


.font {
  font-family: "instrument sans",sans-serif;
  text-shadow: 1px 2px 1px rgba(0,0,0,0.6);
  font-weight: 700;
}

.Box{
  margin-left: 10px;
  position: relative;
  margin-right: 10px;
  height: 250px;
  display: flex;
  justify-content: center; /* tengah secara horizontal */
  align-items: center; 
  width: 400px;
  box-shadow: 0 8px 20px 1px rgba(0,0,0,0.42);
}

.Content p{
 font-family: "Manjari";
 font-weight: 900;
 max-width: 800px;
}
ul p{
  margin: 0;
}

.APBD{
  margin-top: 100px;
  padding: 20px;
}

.Dana-box{
  padding: 20px;
  margin-top: 10px;
  width: 700px;
  height: 140px;
  border-radius: 5px;
  background-color: #D9D9D9;
  box-shadow: -9px 8px 7px 3px rgba(0, 0, 0, 0.25);
}

.Font-Data{
  font-size: 40px;
  font-weight: 700;  
  /* margin-top: 2px; */
  text-shadow: -2px 3px 5px rgba(0,0,0,0.5);
  text-align: center;
  
}
.Label{
  color: white;
  font-weight: 700;
  font-style: italic;
  margin: 0;
  -webkit-text-stroke: 0.2px black; /* Tebal & warna stroke */
  text-shadow: -2px 8px 10px rgba(0,0,0,0.5);
}



.hover-box:hover{
  z-index: 99999;
  /* box-shadow: -2px 16px 15px -5px rgba(210, 210, 210, 0.75); */
  /* transform: rotateY(20deg); */
}
.header {
  padding: 10px;
  text-align: center;
  background-color: aqua;
}
.box-swiper hr{
 height: 2px;
 background-color: rgb(140, 155, 14); 
}
.box-swiper{
  width: 100vw;
  height: 550px;
  margin-top: 90px;
  margin-right: 200px;
  padding-bottom: 100px;
  /* border: 1px white solid; */
}


.input-berita {
  width: 200px;
  background-color: whitesmoke;
  height: 200px;
}



.box-file {
  /* border: 2px solid black; */
  width: 600px;
  height: 400px;
  border: 2px dashed #999;
  border-radius: 8px;
  background-color: #e6f7f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
  text-align: center;
  padding: 20px;
  /* margin: 70px auto; */
}

.upload-icon {
  font-size: 40px;
  color: #339989;
}


.box-file p {
  margin: 0 ;
  color: black;
  font-weight: 500;
}

.box-file span {
  font-size: 14px;
  color: #666;
}

.box-file button {
  background-color: #339989;
  color: white;
  border: none;
  z-index: 999999;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.box-file button:hover {
  background-color: #2a7c72;
}

.ButtonColor:hover{
  background-color: #218838; 
}
.ButtonColor{
  background-color: #28a745; 
  color: white;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.belum {
  background-color: #6c757d; /* Abu-abu netral */
  color: white;
  border: none;
  /* padding: 5px; */
  border-radius: 6px;
  font-weight: bold;
  opacity: 0.8;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s;
}

.belum:hover {
  opacity: 1;
}

.box-file input{
  width: 60%;
  height: 70%;
  border: 10px solid black;
  opacity: 0;
  position: absolute;
}
.disable{
  pointer-events: none;
  color: #006aff;
}

.box-preview{

  color: #0a0a0a;
  font-size: 20px;
  font-weight: 600;
 
}
.dropdown-menu li {
position: relative;
}

.dropdown-menu .dropdown-submenu {
display: none;
position: absolute;
left: 100%;
top: -7px;
}

.dropdown-menu .dropdown-submenu-left {
right: 100%;
left: auto;
}
  
.dropdown-menu > li:hover > .dropdown-submenu {
display: block;
}

.wrap{
  background: rgb(15,59,50);
background: wheat;
}
body{
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}
.gambar:hover{
  border: 3px solid whitesmoke;
  box-shadow: 0 0 20px 10px rgb(169, 169, 169);
 transition: .5s;
}
.gambar{
  padding: 20px;
  border-radius: 25px;
}
.Box-Gambar p{
  text-align: justify;
  overflow: auto;
  max-height: 150px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Box-Gambar h1{
font-weight: 900;
font-style: oblique;
margin: 10px 0 10px 0;
}
.Box-Gambar{
  /* border: 3px solid white; */
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 33vw;
  padding: 10px;
}
.cobain{
  max-height: 100px;
  overflow: auto;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

/* Form Login */
a{
  text-decoration: none;
}

h4 {
  font-weight: 600;
}
h6 span{
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
}
.section{
  position: relative;
  width: 100%;
  display: block;
}
.full-height{
  min-height: 100vh;
}

.checkbox:checked + .custom-toggle,
.checkbox:not(:checked) + .custom-toggle{
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #ffeba7;
}
.checkbox:checked + .custom-toggle:before,
.checkbox:not(:checked) + .custom-toggle:before{
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #ffeba7;
  background-color: #ffffff;
  font-family: 'unicons';
  content: '💡';
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}
.checkbox:checked + .custom-toggle:before {
  transform: translateX(44px) rotate(-360deg);
}


.card-3d-wrap {
  position: relative;
  width: 440px;
  max-width: 100%;
  height: 400px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 60px;
}
.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position:absolute;    
  top: 0;
  left: 0;  
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out; 
}
.card-front, .card-back {
  width: 100%;
  height: 100%;
  background-color: #2a2b38;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
.card-back {
  transform: rotateY(180deg);
}

.checkbox{
  display: none;
}
.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}
.center-wrap{
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}


.form-group{ 
  position: relative;
  display: block;
    margin: 0;
    padding: 0;
}
.form-style {
  padding: 13px 20px;
  padding-left: 55px;
  height: 48px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #c4c3ca;
  background-color: #1f2029;
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}

.form-style:focus,
.form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
}
.input-icon {
  position: absolute;
  top: 0;
  left: 18px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: left;
  color: #ffeba7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:-ms-input-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input::-moz-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:-moz-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input::-webkit-input-placeholder  {
  color: #c4c3ca;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus:-ms-input-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus::-moz-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus:-moz-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}
.form-group input:focus::-webkit-input-placeholder  {
  opacity: 0;
  -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.submit{  
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition : all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #ffeba7;
  color: #102770;
  box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
}
.submit:active,
.submit:focus{  
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}
.submit:hover{  
  background-color: #102770;
  color: #ffeba7;
  box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
}





